<!DOCTYPE html>
<html lang="en" ng-app="chatRoom">
<head>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-messaging.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<div id="chatHeader">
    <div id="title">
        <h1>Chat</h1>
    </div>

    <div id="username-div">
        <p id="usernameHeader">Not Logged In!</p>


    </div>
</div>


<div id="chat">
    <div id="leftMenu">

        <div id="usersOnline">
            <h3 id="userOnline-header">Users Online</h3>
            <ul id="userUl">

            </ul>

        </div>
        <button id="logout" onclick="logout()">Logout</button>

    </div>


    <div id="main">
        <div id="chatRoom-div">
            <div id="room1" ng-controller="ChatController">
                <div id="pana" ng-if="selectedRoom == 1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Room 1</div>
                        <div class="panel-body">
                            <div class="msgSpan" ng-repeat="m in messages">
                                <p class="msgHeader" style="background-color: mediumpurple; color: white" ng-if="currentUser.uid == m.userid">{{m.user}}</p>
                                <p class="msg" style="background-color: mediumpurple; color: white" ng-if="currentUser.uid == m.userid">{{m.message}}</p>
                                <p class="msgTime" style="background-color: mediumpurple; color: white" ng-if="currentUser.uid == m.userid">{{m.date | date:'medium'}}</p>
                                <p class="msgHeader" ng-if="currentUser.uid != m.userid">{{m.user}}</p>
                                <p class="msg" ng-if="currentUser.uid != m.userid">{{m.message}}</p>
                                <p class="msgTime" ng-if="currentUser.uid != m.userid">{{m.date | date:'medium'}}</p>
                            </div>
                            <div class="form-group">
                                <input id="myInput" type="text" onkeydown="if (event.keyCode == 13)
                            document.getElementById('btn').click()" class="form-control" placeholder="Message here..."
                                       ng-model="data.messageText">
                            </div>
                            <button type="submit" id="btn" class="btn btn-default" ng-click="send()"
                                    onclick="document.getElementById('myInput').value = ''">Send
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="room2" ng-controller="ChatController2">
                <div>
                    <div id="pana2" ng-if="selectedRoom == 2">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Room 2</div>
                            <div class="panel-body">
                                <div class="msgSpan" ng-repeat="m in messages">
                                    <p class="msgHeader" style="background-color: mediumpurple; color: white" ng-if="currentUser.uid == m.userid">{{m.user}}</p>
                                    <p class="msg" style="background-color: mediumpurple; color: white" ng-if="currentUser.uid == m.userid">{{m.message}}</p>
                                    <p class="msgTime" style="background-color: mediumpurple; color: white" ng-if="currentUser.uid == m.userid">{{m.date | date:'medium'}}</p>
                                    <p class="msgHeader" ng-if="currentUser.uid != m.userid">{{m.user}}</p>
                                    <p class="msg" ng-if="currentUser.uid != m.userid">{{m.message}}</p>
                                    <p class="msgTime" ng-if="currentUser.uid != m.userid">{{m.date | date:'medium'}}</p>
                                </div>
                                <div class="form-group">
                                    <input id="myInput2" type="text" onkeydown="if (event.keyCode == 13)
                        document.getElementById('btn2').click()" class="form-control" placeholder="Message here..."
                                           ng-model="data.messageText">
                                </div>
                                <button type="submit" id="btn2" class="btn btn-default" ng-click="send()"
                                        onclick="document.getElementById('myInput2').value = ''">Send
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="room3" ng-controller="ChatController3">
                <div id="pana3" ng-if="selectedRoom == 3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Room 3</div>
                        <div class="panel-body">
                            <div class="msgSpan" ng-repeat="m in messages">
                                <p class="msgHeader" style="background-color: mediumpurple; color: white" ng-if="currentUser.uid == m.userid">{{m.user}}</p>
                                <p class="msg" style="background-color: mediumpurple; color: white" ng-if="currentUser.uid == m.userid">{{m.message}}</p>
                                <p class="msgTime" style="background-color: mediumpurple; color: white" ng-if="currentUser.uid == m.userid">{{m.date | date:'medium'}}</p>
                                <p class="msgHeader" ng-if="currentUser.uid != m.userid">{{m.user}}</p>
                                <p class="msg" ng-if="currentUser.uid != m.userid">{{m.message}}</p>
                                <p class="msgTime" ng-if="currentUser.uid != m.userid">{{m.date | date:'medium'}}</p>
                            </div>
                            <div class="form-group">
                                <input id="myInput3" type="text" onkeydown="if (event.keyCode == 13)
                                        document.getElementById('btn3').click()" class="form-control"
                                       placeholder="Message here..."
                                       ng-model="data.messageText">
                            </div>
                            <button type="submit" id="btn3" class="btn btn-default" ng-click="send()"
                                    onclick="document.getElementById('myInput3').value = ''">Send
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="rightMenu">
        <div id="rooms" ng-controller="SelectRoomController">
            <h3>Rooms</h3>
            <ul id="roomsUl">
                <li ng-click="selectRoom(1)">Room1</li>
                <li ng-click="selectRoom(2)">Room2</li>
                <li ng-click="selectRoom(3)">Room3</li>
            </ul>
        </div>


    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCkInBPaJoHPKtdiAhd8DfWrYLFAc0zok0",
        authDomain: "chat-app-316ca.firebaseapp.com",
        databaseURL: "https://chat-app-316ca.firebaseio.com",
        projectId: "chat-app-316ca",
        storageBucket: "",
        messagingSenderId: "1085160280325"
    };
    firebase.initializeApp(config);
    var database = firebase.database();

    // Print Users online list
    database.ref("usersOnline").on("value", function (onlineUsers) {
        //console.log(onlineUser.val());
        document.getElementById("userUl").innerHTML = "";
        for (var displayName in onlineUsers.val()) {
            var userlist = document.createElement('li');
            userlist.textContent = onlineUsers.val()[displayName].displayName;
            userlist.setAttribute('class', 'note');
            console.log(userlist);
            document.getElementById("userUl").appendChild(userlist);
        }
    });
</script>
<script src="js/index.js"></script>

</body>
</html>